@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-height: 4rem;
  --page-height: calc(100dvh - 4rem);

  --clr-1: #3A0F87;
  --clr-2: #4C12A7;
  --clr-3: #581CC3;
  --clr-4: #9651E9;
  --clr-5: #B382F2;
}

@media screen and (min-width: 768px) {
  :root {
    --nav-height: 5rem;
    --page-height: calc(100dvh - 5rem);
  }
}

html {
  background: #0C0C0C;
}

@layer base {
  body {
    @apply text-white;
  }

  .debug {
    @apply border border-red-500;
  }

  .solo-gradient {
    background: linear-gradient(90deg, #fff, #6B24E5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer components {
  .fadeout-horizontal {
    mask-image: linear-gradient(
      to right,
      transparent,
      #0c0c0c 5rem,
      #0c0c0c calc(100% - 5rem),
      transparent
    );
  }

  .marquee {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }

  .marquee:before,
  .marquee:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: '';
    z-index: 2;
  }

  .marquee-slide {
    display: inline-flex;
    gap: 3rem;
    padding-left: 3rem;
    animation: marquee-move var(--speed, 25s) linear infinite var(--direction, forwards);
    will-change: transform;

    @media (min-width: 768px) {
      gap: 4.8rem;
      padding-left: 4.8rem;
    }
  }

  .marquee:hover .marquee-slide {
    animation-play-state: paused;
  }

  .marquee-item {
    @apply flex flex-col items-center justify-center gap-4;
  }

  .marquee-item span {
    @apply bg-white/10 text-white rounded-full px-6 py-2 font-bold text-sm md:text-base;
  }

  .marquee-icon {
    @apply size-16 lg:size-24;
  }

  .grid-item {
    @apply flex flex-col items-center justify-center bg-white/10 rounded-lg cursor-default;
  }

  a.grid-item {
    @apply transition-all hover:scale-105 cursor-pointer;
  }

  .neon-border {
    border-radius: 0.2rem;
    position: relative;
  }
  
  .neon-border::before,
  .neon-border::after {
    content: "";
    position: absolute;
    inset: -0.2rem;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3)
    );
    border-radius: inherit;
    animation: rotation 20s linear infinite;
  }
  
  .neon-border::after {
    filter: blur(1rem);

    @media (min-width: 768px) {
      filter: blur(2rem);
    }
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@keyframes marquee-move {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}
